.Sample-Board {
    flex-grow: 1;
    background-color: rgb(60, 60, 60);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
    align-self: auto;
    justify-content: center;
    align-items: center;
}

.basic-text {
    font-size: 90px;
    color: rgb(255, 255, 255);
    -unity-font: initial;
}
